{% extends 'base.html' %} {% block content %}

<br />
<div class="mx-auto" style="padding: 1rem"> 
  <div 
    class="card border-dark mx-auto text-center" 
    style="width: 45rem">
    <h1 style="font-family: copperplate, sans-serif;">
      What's PlantLife??
    </h1>
    <p style="padding: 4px; margin: 2px; font-family: 'Lucida Handwriting', papyrus, fancy;">
        PlantLife was created out of a passion to help better organize your home life. 
        More and more people are stuck at home these days and are turning to house plants
        as a way to stay connected with the outdoors and liven up their in home lifestyle.
        If you are someone who has more than one plant and have trouble remembering which
        plant to water when, or even if you only have one plant but like me can never 
        remember the last time you actually watered it so you end up over watering. Then 
        this site is for you. Here you can track, journal and record anything you want. Save 
        reminders to your calendar and check which plants need watering today. Take advantage of 
        our journaling feature to add photos and observations about the health and temperment
        of your specific plant. This should help you figure out if your plant likes more or less
        sunlight, more or less water and even catch problems before they spread and your plant dies. 
        We hope that this site in some small way can help make your life a little less stressful 
        and a little more filled with life, love and happiness as you enjoy wherever you call home.
    </p>
  </div>
  <br/>
  <div 
    class="card border-dark mx-auto text-center" 
    style="width: 45rem">
    <h1 style="font-family: copperplate, sans-serif;">
      PlantLife Creators
    </h1>
    <p>
      <h3>Greg Spurgeon</h3>
      <h5><a href="https://www.linkedin.com/in/greg-spurgeon-41a503184/" style="color: #778F48">Click here for my LinkedIn profile</a></h5>
    </p>
    <p>
      <h3>Haley Collard</h3>
      <h5><a href="https://www.linkedin.com/in/haley-collard-6563a9197/" style="color: #8f6479;">Check out my LinkedIn profile</a></h5>
    </p>
    <p>
      <h3>Anie Cross</h3>
      <h5><a href="https://www.linkedin.com/in/anie-cross-40b8a61a0/" style="color: #dbd5a4; text-shadow: 0 0 1px #444;">Look me up on LinkedIn</a></h5>
    </p>
    <p>
      <h3>Bethsheba Zebata</h3>
      <h5><a href="https://www.linkedin.com/in/bethsheba-zebata-96120538/" style="color: white; text-shadow: 2px 2px 2px #8f6479;">View my LinkedIn profile here</a></h5>
    </p>
  </div>
</div>

{% endblock %}

