{% extends 'base.html' %} 
{% block title %} PlantCalendarEntry {% endblock %} 
{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'calendar' %}"> Calendar </a>
</div>
<br />
<h4>
  Add notes to your calendar entries to remind you of things like ... add
  fertilizer today, trim dead leaves, rotate to new window or water early (going
  out of town) ... any notes added will show up in your daily reminders.
</h4>
<br />
<form method="post">
  {% csrf_token %}
  <table class="form form-table">
    {{ form }}
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-info right">Submit</button>
      </td>
    </tr>
  </table>
  {% if form.initial.id %}
  <div>
    <a
      href="/remove_calendar_entry/{{form.instance.id}}/"
      class="btn btn-danger"
      >Remove Entry</a
    >
  </div>
  {% endif %}
</form>
{% endblock %}
