{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/plantcalendar/style.css"> 

  <br/>
  <br/>
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'calendar_entry' %}"> Create Calendar Entry </a>
	<a class="btn btn-info left" href="{% url 'calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'calendar' %}?{{ next_month }}"> Next Month </a>
</div>
<br/>
<br/>
  {{ calendar }}
  
{% endblock %}


