{% extends 'base.html' %} {% if request.user.is_authenticated %} {% block content %} 
{% comment %} this displays your personal info created at signup {% endcomment %}
<br />
<div class="card mx-auto" style="max-width: 60rem">
  <div class="card-header row" style="--bs-gutter-x: 0">
    <h2 class="col-6">{{ my_user }} / {{ my_user.username }}</h2>
    <div class="text-right col-6">
      <button class="btn btn-lg" type="button" style="background-color: #8f6479">
        <a style="color: white;" href="/edit/{{my_user.username}}/">
          Edit Login Details
        </a>
      </button>
      <!-- Button trigger modal -->
      <button 
        type="button" 
        class="btn btn-lg btn-outline-danger" 
        data-bs-toggle="modal" 
        data-bs-target="#deleteModal"
      >
          Delete Profile
      </button>
    </div>
  </div>
  <div class="card-body">
    <h3 class="card-title">
      Name: {{ my_user.first_name }} {{my_user.last_name}}
    </h3>
    <h3 class="card-title">Username: {{ my_user.username }}</h3>
    <h3 class="card-title">Password: ***</h3>
    <h3 class="card-title">Email: {{ my_user.email }}</h3>
  </div>

<!-- Modal -->
<div 
  class="modal fade" 
  id="deleteModal" 
  tabindex="-1" 
  aria-labelledby="deleteModalLabel" 
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your account??
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Don't Delete</button>
        <button type="button" class="btn btn-lg btn-danger">
          <a href="/delete_profile/{{request.user.id}}/" class="text-light">
            Delete Profile
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<br />

{% endblock %} {% endif %}
